
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

/*------------------------ HEADER ------------------*/

nav {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    height: 100%;
}

nav div {
    padding: 25px 0;
    text-align: center;
    height: 100px;
}

nav div:first-of-type {
    text-align: left;
}
.nav-activites, .nav-hebergements {
    padding-top: 40px;
}

.nav-suscribe {
    padding-top: 44px;
}
.nav-hebergements {
    grid-column: 3 / 4;
    border-top: 3px solid #0065FC;
    color: #0065FC;
}
.nav-activites {
    grid-column: 4 / 5;
    border-top: 3px solid transparent;
}

.nav-activites:hover {
    border-top: 3px solid #0065FC;
}

.nav-activites a:hover, .nav-hebergements a, .nav-suscribe a {
    color: #0065FC;
}

.nav-suscribe {
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 65px 65px;
        padding: 0;
        margin-bottom: 60px;
    }

    .nav-hebergements {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    .nav-activites {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        border-top: none;
        border-bottom: 3px solid #e2e2e2;
    }

    .nav-activites:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    .nav-logo {
        padding-left: 30px;
        padding-top: 30px;
    }

    .nav-suscribe {
        text-align: right;
        padding-right: 30px;
    }


}
/*-------------------- MAIN RECHERCHE-------------------*/
main {
    max-width: 1440px;
    margin: 0 auto;
}

.recherche-section {
    padding: 0 30px;
}

.titre h1 {
    font-size: 30px;
    font-weight: 700;
}

.titre p {
    margin: 10px 0;
    font-size: 18px;
}

.recherche {
    margin: 35px 0;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
}

.recherche i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: auto;
    background: #f2f2f2;
    border-radius: 15px 0 0 15px;
}

input {
    padding: 0 20px 0;
    height: 55px;
    width: 250px;
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

input::placeholder {
    color: black;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.recherche button:first-of-type {
    border: none;
    border-radius: 0 14px 14px 0;
    background: #0065fc;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 18px;
    cursor: pointer;
}

.recherche button:last-of-type {
    display: none;
}

.filtres {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 35px;
}
.filtres h2 {
    font-size: 18px;
}
.filtres ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: disc;
}

.filtres ul li {
    display: inline;
    margin-left: 25px;
    font-weight: 700;
    border: 2px solid #e2e2e2;
    padding: 0 20px 0 0;
    margin-top: 10px;
    border-radius: 50px;
}

.filtres-list {
    background: #DEEBFF;
    color: #0065FC;
    padding: 15px;
    border-radius: 50px;
    margin-right: 15px;
}

.filtres ul li:hover {
    background: #DEEBFF;
}

.infos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}
.infos i {
    color: #0065FC;
    font-size: 18px;
    padding: 5px 10px;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    margin-right: 20px;
}

.infos p {
    font-size: 18px;
}

@media screen and (max-width: 576px) {

    .titre h1 {
        font-size: 25px;
    }

    .titre p {
        font-size: 18px;
    }

    input {
        width: 240px;
    }

    .recherche button:first-of-type {
        display: none;
    }

    .recherche button:last-of-type {
        display: block;
        border: none;
        border-radius: 15px;
        background: #0065fc;
        color: white;
        padding: 18px;
        cursor: pointer;
    }

    .recherche button i:last-of-type {
        background: #0065FC;
        font-size: 18px;
        width: auto;
    }

    .filtres {
        flex-direction: column;
    }

    .filtres h2 {
        margin: 0 0 20px 5px;
        text-align: left;
        width: 100%;
    }

    .filtres ul li {
        margin-left: 0;
        margin: 5px;
        padding-right: 10px;
    }

    .filtres-list {
        margin-right: 10px;
    }

    .infos p {
        font-size: 18px;
    }

}

/*-------------------HEBERGEMENTS----------------*/
.hebergements-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
    margin-bottom: 70px;
    width: 100%;
    max-width: 1440px;
    padding: 0 30px;
}

.hebergements-grid i {
    color: #0065FC
}

.fa-star.grey {
    color: #e2e2e2;
}

.resultats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resultats a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.resultats h2 {
    width: 100%;
    margin: 40px 0;
}


.block {
    background: #f2f2f2;
    border-radius: 20px;
    padding: 0 30px;
}

.resultats-grid {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 220px);
    grid-gap: 20px;
    width: 100%;
}


.resultats-grid article {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 5px;
    background: white;
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.2);
}

.card-img {
    height: 60%;
    width: 100%;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.card-text {
    height: 40%;
    padding: 10px;
}

.card-text h3 {
    font-size: 18px;
}

.card-text p {
    font-size: 15px;
    margin: 5px 0;
}
.card-text i {
    font-size: 15px;
    
}
.show-more {
    width: 100%;
    margin: 40px 0 40px 8%;
    font-size: 18px;
    font-weight: bold;
}

/*---------------------POPULAIRES------------*/

.populaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.populaires a {
    text-decoration: none;
    color: black;
}

.populaires-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 40px 0;
}

.populaires-title i {
    font-size: 20px;
}
.populaires-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 150px);
    row-gap: 30px;
    width: 100%;
}

.card-img-pop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.populaires-grid article {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 5px;
    background: white;
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.2);
}

.card-img-pop {
    height: 100%;
    width: 40%;
}

.card-text-pop {
    width: 60%;
    padding: 10px;
}

.card-text-pop h3 {
    font-size: 20px;
}

.card-text-pop p {
    font-size: 18px;
    margin: 10px 0;
}

strong {
    font-weight: bold;
}

.fa-chart-line.black {
    color: black;
}

@media screen and (max-width: 576px) {
    .hebergements-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-bottom: 40px;
        padding: 0;
    }

    .resultats {
        background: white;
        order: 2;
    }

    .block {
        border-radius: 0;
    }

    .resultats-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 200px);
    }
    
    .card-text p {
        margin: 5px 0;
    }

    .populaires {
        padding-bottom: 40px;
    }

    .populaires-title {
        margin: 40px 0;
    }

    .card-text-pop {
        padding: 10px;
    }

    .card-text-pop h3 {
        font-size: 16px;
    }

    .card-text-pop p {
        font-size: 15px;
        margin: 10px 0;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    
    .hebergements-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 50px;
    }

    .resultats {
        order: 2;
        background: white;
    }

    .resultats-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 220px);
    }

    .card-text h3 {
        font-size: 14px;
    }

    .populaires {
        padding-bottom: 50px;
    }

    .populaires-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 130px);
        justify-content: space-evenly;
    }

    .card-text-pop h3 {
        font-size: 15px;
    }


    .help-block {
        margin-right: 0;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {
    
    .hebergements-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 50px;
    }

    .resultats {
        order: 2;
        background: white;
    }

    .resultats-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 250px);
    }

    .populaires {
        padding-bottom: 50px;
    }
    
}

@media screen and (min-width: 993px) and (max-width: 1440px) {

    .hebergements-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 50px;
    }  

    
    .resultats {
        order: 2;
        background: white;
    }
    
    .resultats-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 250px);
    }
    
    .populaires {
        padding-bottom: 50px;
    }

    .populaires-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 200px;
        column-gap: 20px;
    }
    
}


/*-------------------ACTIVITES-----------------*/
.section-activites {
    padding: 0 30px;
}

#activites {
    font-size: 20px;
    font-weight: bold;
}

.container-activites {
    display: grid;
    grid-gap: 30px;
    margin: 30px 0 60px 0;
    height: 500px;
    grid-template-rows: 3fr 0.3fr 0.3fr 0.3fr 0.3fr 3fr;
    grid-template-columns: repeat(4, 1fr);
    justify-content: flex-start;
    grid-template-areas:
        "activity-1 activity-2 activity-4 activity-5"
        "activity-1 activity-2 activity-4 activity-5"
        "activity-1 activity-2 activity-4 activity-6"
        "activity-1 activity-2 activity-4 activity-6"
        "activity-1 activity-3 activity-4 activity-6"
        "activity-1 activity-3 activity-4 activity-6";
}

.cards {
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.2);
    font-size: 30px;
    position: relative;
    border-radius: 20px;
    
}

.card-1 {
    grid-area: activity-1;
}

.card-2 {
    grid-area: activity-2;
}

.card-3 {
    grid-area: activity-3;
}

.card-4 {
    grid-area: activity-4;
}

.card-5 {
    grid-area: activity-5;
}

.card-6 {
    grid-area: activity-6;
}

.card-block {
    width: 100%;
    height: 100%;
}

.card-block img {
    width: 100%;
    height: 99%;
    object-fit: cover;
    border-radius: 20px;
}

.card-block a {
    text-decoration: none;
    color: initial;
    cursor: pointer;
}

.card-block h2 {
    font-size: 18px;
    background: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0 20px 20px;
    border-radius: 0 0 20px 20px;
}

@media screen and (max-width: 576px) {
    .container-activites {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 200px);
        grid-template-areas: 
            "activity-1"
            "activity-2"
            "activity-3"
            "activity-4"
            "activity-5"
            "activity-6";
        height: 1300px;
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    
    .container-activites {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 200px);
        grid-template-areas: 
        "activity-1 activity-2 activity-3"
        "activity-4 activity-5 activity-6";
        margin: 30px 0 0 0;
    }
}
/*--------------------FOOTER-------------------*/

footer {
    background: #f2f2f2;
    width: 100%;
    padding: 30px;
}
.footer {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.footer-block {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-title {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-link {
    margin-bottom: 10px;
    text-decoration: none;
    color: #000
}

.help-block {
    margin-right: 20%;
}

@media screen and (max-width: 576px) {
    
    .footer {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .help-block {
        margin-right: 0;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {

    .help-block {
        margin-right: 0;
    }
       
}

@media screen and (min-width: 769px) and (max-width: 992px) {

    .help-block {
        margin-right: 0;
    }
    
}
